# Ignore node_modules and lock files
node_modules

# Ignore build artifacts
dist
build

# Ignore local environment files
.env
.env.local

# Ignore IDE/editor files
.vscode
.idea
*.log
npm-debug.log*
.DS_Store
